doctype xml
rsd(version='1.0', xmlns='http://archipelago.phrasewise.com/rsd')
	service
		engineName #{engine}
		engineLink #{host}
		homePageLink #{host}
		apis
			api(name='Atom', blogID='1', preferred='true', apiLink='#{host}api/atom')
