          <div class="row">
            <h3>The underscore</h3>

            <p>
            Type a word into the text box with the following pattern:
            </p>

            <pre>
he__o
            </pre>

            <p>
            And you'll get words such as:
            </p>

            <pre>
hello
helio
            </pre>
          </div>

          <div class="row">
            <h3>The question mark</h3>

            <p>
            This character is great for games like What's the Phrase (a knock off of Wheel of Fortune)
            </p>

            <p>
            Type a word into the text box with the following pattern:
            </p>

            <pre>
st???
            </pre>

            <p>
            and you'll get words such as:
            </p>

            <pre>
stack
stade
staff
stage
stagy
            </pre>

            <p>
            but you wont get words like
            </p>

            <pre>
start
            </pre>

            <p>
            because the `t` would already be visible (in What's the Phrase), and you would have typed:
            </p>

            <pre>
st??t
            </pre>

          </div>
          <div class="row">
            <h3>I know regex</h3>

            <p>
                The behaviors above will be overriden if you prefix and suffix your phrase with <code>/</code>, example:
            </p>

            <pre>/boo/</pre>

            <p>
                Will give you all words that contain <code>boo</code>.
            </p>
          </div>
        </div>
      </div>
    </body>
</html>
